In [1]:
import pandas as pd

In [2]:
data_02 = pd.read_csv(r'C:\dev\EyF_churn_2025-02\data\raw\competencia_02_crudo.csv')
data_sept = pd.read_csv(r'C:\dev\EyF_churn_2025-02\data\raw\competencia_03_crudo.csv')

In [2]:
data_sept = pd.read_csv(r'C:\dev\EyF_churn_2025-02\data\raw\competencia_03_crudo.csv')

In [3]:
data_sept.shape

(165093, 154)

In [3]:
df3 = pd.concat([data_02, data_sept], ignore_index=True)

In [4]:
assert len(df3) == len(data_02) + len(data_sept), "La cantidad de filas no coincide con la suma de df1 y df2"

In [5]:
assert set(df3.columns) == set(data_02.columns) == set(data_sept.columns), "Las columnas no coinciden entre los dataframes"

In [6]:
df3.to_parquet(
    "C:\dev\EyF_churn_2025-02\data\processed\competencia_03_crudo_append.parquet",
    index=False,
    engine="pyarrow"   # o "fastparquet" si usas ese
)

In [13]:
! pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-22.0.0-cp311-cp311-win_amd64.whl.metadata (3.3 kB)
Downloading pyarrow-22.0.0-cp311-cp311-win_amd64.whl (28.1 MB)
   ---------------------------------------- 0.0/28.1 MB ? eta -:--:--
   ------- -------------------------------- 5.0/28.1 MB 27.4 MB/s eta 0:00:01
   -------------- ------------------------- 10.0/28.1 MB 24.8 MB/s eta 0:00:01
   --------------------- ------------------ 14.9/28.1 MB 24.1 MB/s eta 0:00:01
   -------------------------- ------------- 18.9/28.1 MB 23.4 MB/s eta 0:00:01
   --------------------------------- ------ 23.6/28.1 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  28.0/28.1 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------- 28.1/28.1 MB 22.3 MB/s  0:00:01
Installing collected packages: pyarrow
Successfully installed pyarrow-22.0.0

In [7]:
df_loaded = pd.read_parquet("C:\dev\EyF_churn_2025-02\data\processed\competencia_03_crudo_append.parquet")

In [8]:
df_loaded.shape

(4883051, 154)

In [9]:
data_02.shape

(4717958, 154)

In [10]:
df_loaded.head()

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,249221323,201901,1,0,1,44,69,86.33,14610.01,625.85,...,0.0,8.0,0.0,-17595.00,0.0,2083.0,4880.93,5.0,0.0,12222.66
1,249227600,201901,1,0,1,40,254,2096.06,15905.41,287.71,...,0.0,8.0,0.0,-5828.06,0.0,4810.0,6750.79,11.0,0.0,563.04
2,249227813,201901,1,0,0,77,156,1071.07,10295.09,864.40,...,0.0,1.0,0.0,-6092.94,0.0,4739.0,0.14,2.0,0.0,152.49
3,249231391,201901,1,0,1,55,252,979.98,7670.48,487.01,...,0.0,1.0,0.0,-24945.96,0.0,4344.0,12604.18,13.0,0.0,1712.58
4,249244739,201901,1,0,1,64,296,2724.67,36225.32,1865.89,...,0.0,1.0,0.0,-9551.63,0.0,1227.0,2043.36,3.0,0.0,469.20

In [7]:
df3.to_csv(
    "C:\dev\EyF_churn_2025-02\data\processed\competencia_03_crudo_append.csv",
    index=False,
)